@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* estilos globales */
body {
    background-color: black;
    color: white;
}

section {
    margin: 5% 10%;
}
h1{
    text-align: center;
    margin-bottom: 5%;
}
/* navbar */
.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.navbar-toggler {
    color: white;
}

.navbar-scrolled {
    background-color: #0dcaf0a9 !important;
    transition: background-color 0.5s ease-in-out;
}

/* seccion Quienes somos */
.icons {
    background-color: #0dcaf0;
    text-align: center;
    width: 100%;
}

/* seccion destacados (CARD) */
.card-body{
    background-color: #0dcaf0;
    color: white;
}
